@import "variables";

.on-site-interpreter-price-card {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 960px;
    margin-top: 40px;
    padding: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    box-shadow: 0 40px 120px -20px rgba($royal-blue, 0.8);
    color: $grey;
    border-radius: 20px;
    background-color: #fff;
    margin-left: 0;
    margin-right: 0;
    .select-lang {
        width: 100%;
        margin-bottom: 15px;
        div {
            padding-right: 0;
            padding-left: 10px;
        }
    }

    .legal-aid {
        display: -ms-flexbox;
        display: flex;
        margin-top: 1px;
        padding-right: 18px;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 10px;
        background-color: $white-smoke;
        margin-left: 0;
        margin-right: 0;
        .heading {
            h3 {
                margin-top: 0;
                font-size: 18px;
            }
        }
        .switch {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: 70px;
            padding-top: 10px;
        }
    }

    .right-col {
        .button-div {
            margin-left: 160px;
            margin-top: 50px;
        }
    }
}