@import "variables";

.watch-intro-button {
    display: flex;
    width: 200px;
    margin-right: 0;
    margin-left: 0;
    padding: 15px 24px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 100px;
    background-color: #fff;
    -webkit-transition: background-color .4s ease,box-shadow .4s ease,color .4s ease;
    transition: background-color .4s ease,box-shadow .4s ease,color .4s ease;
    color: $purple;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    text-decoration: none;
    &:hover {
        background-color: $purple;
        box-shadow: 0 20px 60px -10px rgba(156,107,206,.8);
        color: #fff;
        transform: translate3d(0px, 0px, 0px) scale3d(1.1, 1.1, 1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
        transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .watch-button-text {
        font-size: 18px;
        font-weight: 700;
    }
    .watch-button-icon {
        width: 20px;
        height: 20px;
        margin-left: 10px;
        background-image: url(#{$img-path}/play-icon.png);
        background-position: 50% 50%;
        background-size: contain;
        background-repeat: no-repeat;
    }
}